<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mr. Collection</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/aboutStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>

    <% include partials/header%>

    <% include partials/user-navigation%>

    <main class="main">

      <% include partials/site-navigation%>

      <section class="mainContentAbout">
        <article class="about1">
          <div class="">
            <img src="/images/about1.png" alt="Wear eveything!!"><br>
            <span>
              <p style="color:#D4AF37;font-weight:bold;">Wear Everything</p>
            </span>
            <br>
            <span>
              <p>Enjoy the styles sent for as long as you like. Mix and match with your own wardrobe to create and recreate.</p>
            </span>
          </div><br>
        </article>
        <article class="about2">
          <div class="">
            <img src="/images/about2.png" alt="Return and Repeat!!"><br>
            <span>
              <p style="color:#D4AF37;font-weight:bold;">Return and Repeat</p>
            </span>
            <br>
            <span>
              <p>Keep what you love and return the rest. A new pack will be styled and sent!</p>
            </span>
          </div><br>
        </article>
        <div class="joinUs">
          <span>
            <p>
              <button type="button" name="button">Join Us</button>
            </p>
          </span>

        </div>
      </section>

      <% include partials/footer%>

    </main>

    <script src="../assets/js/script.js" charset="utf-8"></script>
  </body>
</html>
