<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mr. Collection</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/contactUsStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>

    <% include partials/header%>

    <% include partials/user-navigation%>

    <main class="main">

      <% include partials/site-navigation%>

      <section class="mainContentContactUs">
        <article class="favContent">

          <div class="contactUsInfo">
            <span>
              <p class="color">Dont be a stranger Just say HELLO!</p><br>
              <p>Via Paolo Borsellino, 28</p>
              <p>21040 GERENZANO (VA) – Italy</p>
              <p>P.IVA/C.F. 03259140121</p>
              <p>Phone +39 0296481462</p>
              <p>Fax +39 0296489570</p>
              <p class="color">info@mrcollection.com</p>
            </span>
          </div>
          <br><br>
          <span>
            <p class="head">Fill the form to contact us:</p>
          </span>
          <div class="contactUsForm">
            <label for="name">What's Your Name ?</label><br>
            <input type="text" name="name" value=""><br><br>
            <label for="category">About what Category do you want to talk to us ?</label><br>
            <input type="text" name="Category" value=""><br><br>
            <label for="description">description</label><br>
            <textarea name="description" rows="8" cols="80"></textarea><br>
            <input type="submit" name="submit" value="submit" id="submit">
          </div>
        </article>
      </section>

      <% include partials/footer%>

    </main>

    <script src="../assets/js/script.js" charset="utf-8"></script>
  </body>
</html>
