<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mr. Collection</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <% include partials/header%>

    <% include partials/user-navigation%>

    <main class="main">

      <% include partials/site-navigation%>

      <section class="mainContent">
        <article class="content1">
          <h1>#RENT</h1>
          <h1>&nbsp;&nbsp;LOVE</h1>
          <h1>&nbsp;&nbsp;REPEAT</h1>
          <p>&nbsp;&nbsp;Buy less, Wear more, See the difference!!</p>
        </article>
      </section>

      <% include partials/footer%>

    </main>

    <script src="assets/js/script.js" charset="utf-8"></script>
  </body>
</html>
